html {
  scroll-behavior: smooth;
}
html,
body,
body > div,
aside,
main {
  height: 100%;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 1rem;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.43;
  overflow-y: scroll;
  letter-spacing: 0.018em;
  margin: 0;
  p {
    font-size: 1rem;
  }
  scroll-behavior: smooth;
}

$colorPrimary: #212124;

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.7rem;
  background-color: #f1f1f1;
  position: absolute;
  left: 0;
}

::-webkit-scrollbar-thumb:hover {
  transition: all ease-in-out 1s;
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 1rem;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav-active {
  overflow: hidden;
}
.click-away-listener {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  right: 0;
  z-index: 2;
}
aside {
  background: #111418;
  width: 300px;
  z-index: 5;
  nav {
    overflow-x: hidden;
  }
  .avator {
    width: 170px;
    height: 170px;
  }

  .social-network {
    li {
      list-style: none;
      font-size: 1.3rem;

      a {
        width: 40px;
        height: 40px;
        z-index: 1;
        background-color: #4f5154;
      }
      .icoGoogle:hover {
        background-color: #df382b;
      }
      .icoFacebook:hover {
        background-color: #3b5998;
      }
      .icoTwitter:hover {
        background-color: #33ccff;
      }

      .icoGithub:hover {
        background-color: #24292e;
      }
      .icoLinkedin:hover {
        background-color: #007bb7;
      }
      i {
        color: #fff;
      }
    }
  }
  .profile {
    width: 300px;
    .nav-btn {
      width: 10rem;
    }
  }
  .pic-art {
    width: 200px;
    position: absolute;
    opacity: 0.2;
    right: -10%;
    bottom: -10%;
    z-index: -1;
  }
  .nav-menu {
    height: 40%;
    li {
      height: 45px;
      line-height: 45px;
      font-size: initial;

      list-style: none;
      a {
        color: #a8a9b4;
        i {
          font-size: 1.095rem;
        }
        transition: all 0.1s;
        &:hover {
          color: rgb(255, 255, 255);
          background-color: rgba(0, 0, 0, 0.213);
          transition: all 0.7s;
        }
      }
      .active-nav-link {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.446);
        transition: background-color 0.7s;
      }
    }
  }
}

main {
  section {
    min-height: 100%;
    &:not(:first-child) {
      margin-left: 300px;
      transition: all ease-in-out 0.3s;
      h2 {
        &::after {
          content: "";
          border-bottom: 4px solid #1683d6;
          width: 85px;
          left: 0;
          position: absolute;
          bottom: 5px;
          border-radius: 7px;
        }
      }
    }
    .fix {
      height: 100vh;
      width: 100%;
    }
    h2,
    h3 {
      color: #0a2448;
      font-weight: 600;
    }
    &:first-child {
      background: url("../img/bg-masthead.jpg") no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: right 0 top 0%;
      &::before {
        content: "";
        background: rgba(5, 13, 24, 0.3);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
      }

      .name {
        bottom: 25%;
        z-index: 1;
        left: 33%;
        line-height: 70px;
        font-family: sans-serif;
        h2 {
          font-size: 6.875rem;
          font-weight: 700;
          color: rgb(232, 232, 232);
          -webkit-text-stroke: 2px rgb(232, 232, 232);
        }
        h6 {
          font-size: 23px;
          font-weight: 500;
        }

        h1 {
          font-size: 7.5rem;
          margin: 0;
          font-weight: 900;
          -webkit-text-stroke: 1px rgb(255, 255, 255);
          color: transparent;
        }
      }
      .show-sidebar-btn {
        width: 50px;
        height: 50px;
        z-index: 4;
        right: 1%;
        top: 5%;
        div {
          width: 30px;
          height: 30px;
        }
      }
      [data-role="cursor"] {
        border-right: 2px solid white;
        font-size: 20px;
      }
      .blink {
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }

      [data-name="type-writer-effect"] {
        padding-bottom: 3px;
        margin-right: 2px;
        border-bottom: 2px solid rgb(22, 131, 214);
      }
    }
    &:nth-child(2) {
      li {
        font-size: 0.95rem;
        line-height: 2;
        strong {
          font-size: initial;
        }
      }
    }
    &:nth-child(3) {
      .progress-bar-wrap {
        height: 0.65rem;
      }
      .show-more-btn {
        cursor: pointer;
      }
      .credentials {
        h3 {
          color: #252b33;
        }
      }
      .skill {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
      }
      .progress-bar {
        background-color: #24292e;
      }
    }
  }
  #reviews {
    .quote-clients {
      font-size: xxx-large;
    }
    .avator {
      height: 73px;
      width: 73px;
      font-size: xx-large;
    }
    .mansory {
      width: 225px;
      height: 338px;
    }
  }
}

footer {
  background-color: #f8f9fa;
}
@media only screen and (max-width: 990px) {
  main {
    section {
      &:first-child {
        background: url("../img//bg-masthead-mobile.jpg");
        background-size: cover;
        background-repeat: inherit;
        .name {
          left: 10%;
          bottom: 15%;
          h1 {
            font-size: 4.5rem;
          }
          h2 {
            font-size: 3.875rem;
          }
          [data-name="type-writer-effect"] {
            padding-bottom: 2px;
          }
        }
      }
      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }
}

footer {
  .pipe {
    font-weight: 600;
    font-size: 1rem;
  }
}
