html {
  scroll-behavior: smooth;
}

html,
body,
body > div,
aside,
main {
  height: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 1rem;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 1.43;
  overflow-y: scroll;
  letter-spacing: 0.018em;
  margin: 0;
  scroll-behavior: smooth;
}

body p {
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.7rem;
  background-color: #f1f1f1;
  position: absolute;
  left: 0;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 1rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mobile-nav-active {
  overflow: hidden;
}

.click-away-listener {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  right: 0;
  z-index: 2;
}

aside {
  background: #111418;
  width: 300px;
  z-index: 5;
}

aside nav {
  overflow-x: hidden;
}

aside .avator {
  width: 170px;
  height: 170px;
}

aside .social-network li {
  list-style: none;
  font-size: 1.3rem;
}

aside .social-network li a {
  width: 40px;
  height: 40px;
  z-index: 1;
  background-color: #4f5154;
}

aside .social-network li .icoGoogle:hover {
  background-color: #df382b;
}

aside .social-network li .icoFacebook:hover {
  background-color: #3b5998;
}

aside .social-network li .icoTwitter:hover {
  background-color: #33ccff;
}

aside .social-network li .icoGithub:hover {
  background-color: #24292e;
}

aside .social-network li .icoLinkedin:hover {
  background-color: #007bb7;
}

aside .social-network li i {
  color: #fff;
}

aside .profile {
  width: 300px;
}

aside .profile .nav-btn {
  width: 10rem;
}

aside .pic-art {
  width: 200px;
  position: absolute;
  opacity: 0.2;
  right: -10%;
  bottom: -10%;
  z-index: -1;
}

aside .nav-menu {
  height: 40%;
}

aside .nav-menu li {
  height: 45px;
  line-height: 45px;
  font-size: initial;
  list-style: none;
}

aside .nav-menu li a {
  color: #a8a9b4;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

aside .nav-menu li a i {
  font-size: 1.095rem;
}

aside .nav-menu li a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.213);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

aside .nav-menu li .active-nav-link {
  color: white;
  background-color: rgba(0, 0, 0, 0.446);
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}

main section {
  min-height: 100%;
}

main section:not(:first-child) {
  margin-left: 300px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

main section:not(:first-child) h2::after {
  content: "";
  border-bottom: 4px solid #1683d6;
  width: 85px;
  left: 0;
  position: absolute;
  bottom: 5px;
  border-radius: 7px;
}

main section .fix {
  height: 100vh;
  width: 100%;
}

main section h2,
main section h3 {
  color: #0a2448;
  font-weight: 600;
}

main section:first-child {
  background: url("../img/bg-masthead.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right 0 top 0%;
}

main section:first-child::before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

main section:first-child .name {
  bottom: 25%;
  z-index: 1;
  left: 33%;
  line-height: 70px;
  font-family: sans-serif;
}

main section:first-child .name h2 {
  font-size: 6.875rem;
  font-weight: 700;
  color: #e8e8e8;
  -webkit-text-stroke: 2px #e8e8e8;
}

main section:first-child .name h6 {
  font-size: 23px;
  font-weight: 500;
}

main section:first-child .name h1 {
  font-size: 7.5rem;
  margin: 0;
  font-weight: 900;
  -webkit-text-stroke: 1px white;
  color: transparent;
}

main section:first-child .show-sidebar-btn {
  width: 50px;
  height: 50px;
  z-index: 4;
  right: 1%;
  top: 5%;
}

main section:first-child .show-sidebar-btn div {
  width: 30px;
  height: 30px;
}

main section:first-child [data-role="cursor"] {
  border-right: 2px solid white;
  font-size: 20px;
}

main section:first-child .blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

main section:first-child [data-name="type-writer-effect"] {
  padding-bottom: 3px;
  margin-right: 2px;
  border-bottom: 2px solid #1683d6;
}

main section:nth-child(2) li {
  font-size: 0.95rem;
  line-height: 2;
}

main section:nth-child(2) li strong {
  font-size: initial;
}

main section:nth-child(3) .progress-bar-wrap {
  height: 0.65rem;
}

main section:nth-child(3) .show-more-btn {
  cursor: pointer;
}

main section:nth-child(3) .credentials h3 {
  color: #252b33;
}

main section:nth-child(3) .skill {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

main section:nth-child(3) .progress-bar {
  background-color: #24292e;
}

main #reviews .quote-clients {
  font-size: xxx-large;
}

main #reviews .avator {
  height: 73px;
  width: 73px;
  font-size: xx-large;
}

main #reviews .mansory {
  width: 225px;
  height: 338px;
}

footer {
  background-color: #f8f9fa;
}

@media only screen and (max-width: 990px) {
  main section:first-child {
    background: url("../img//bg-masthead-mobile.jpg");
    background-size: cover;
    background-repeat: inherit;
  }
  main section:first-child .name {
    left: 10%;
    bottom: 15%;
  }
  main section:first-child .name h1 {
    font-size: 4.5rem;
  }
  main section:first-child .name h2 {
    font-size: 3.875rem;
  }
  main section:first-child .name [data-name="type-writer-effect"] {
    padding-bottom: 2px;
  }
  main section:not(:first-child) {
    margin-left: 0;
  }
}

footer .pipe {
  font-weight: 600;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */